@import 'base/breakpoints';

body {
    width: 100%;
    margin: 0;
}

.container {
    // width: min(90%, 87.5em);
    margin-inline: auto;
   
    // background: blue;

    @include for-phone-only {
        width: 375px;
        overflow-x: hidden;
        margin: 0 auto;
    }

    @include for-desktop-up {
        max-width: 1200px;
        padding-left: clamp(5%, 7%, 10%);
        padding-right: clamp(5%, 7%, 10%);
        width: auto;

    }

    @include for-xl-desktop-up {
        max-width: 1400px;
    }
}
