:root {
    --cornellred: #b31b1b;
    
    body {
        &.dark-mode {
    
            --darkMode: true;
            --cornellred: blue;
        }

        &.animation {
           @import 'animation';
        }
    }

}
