@use "normalize";
@use 'variables';
@use 'atoms/mixins';
@use "base/utility";
@use 'base/breakpoints';
@use 'organisms/body';

@use 'atoms/colors';
@use 'atoms/gradients';
@use 'atoms/placeholder';
@use 'atoms/pager';
@use 'atoms/lists';
@use 'atoms/tooltip';
@use 'atoms/layout/container';
@use 'atoms/layout/section';
@use 'atoms/layout/flex';
@use 'atoms/type';

@use 'atoms/buttons' as b;
@use 'atoms/figure';
@use 'atoms/img';
@use 'atoms/tags';
@use 'atoms/glyphicons';
@use 'atoms/deco';
@use 'atoms/panel_type';
@use 'atoms/links';
@use 'atoms/positioning';

@use 'atoms/inputs';

@use "sass:color";
@use 'molecules/menus/menu.scss';
@use 'molecules/menus/menu_section_nav';
@use 'molecules/menus/menu_section_nav_primary';

// @use 'molecules/priority_menu.scss';

@use "molecules/quicklinks";
@use "molecules/videos";

@use "molecules/cards/cards";
@use "molecules/cards/cards--flip-card";
@use "molecules/cards/cards--four-three";
@use "molecules/cards/cards--majors";
@use "molecules/cards/cards--stacked";
@use "molecules/cards/cards--overlap";
@use "molecules/cards/cards--title";
@use "molecules/cards/cards--profile";

@use "molecules/intro";
@use "molecules/branding";
@use "molecules/aside";
@use "molecules/breadcrumbs";
@use "molecules/attribution";
@use "molecules/hero";

@use "molecules/events/events";
@use "molecules/events/events-teaser";
@use "molecules/utility_nav";
@use "molecules/student_stories";
@use "molecules/overlap_card";
@use "molecules/link-lists/link-lists-quicklinks";
@use "molecules/link-lists/link-lists-two-col";
@use "molecules/link-lists/link-lists-basic";

@use "molecules/listing_cards";
@use "molecules/cards/quick-facts/quick_facts";
@use "molecules/cards/quick-facts/quick_facts_icon";
@use "molecules/cards/quick-facts/quick_facts_number";
@use "molecules/cards/quick-facts/quick_facts_linked";

@use "molecules/search";
@use "molecules/resources";
@use "molecules/social";
@use "molecules/accordions";
@use 'molecules/tables';
@use 'molecules/sidebar_nav';
@use 'molecules/announcements';
@use 'molecules/timeline';
@use 'molecules/code_examples';

// Layouts
@use 'organisms/layouts/two-col/layouts-two-col--with-header';
@use 'organisms/layouts/three-col/layouts-three-col--with-header';
@use 'organisms/layouts/three-col/layouts-grid-six--with-header';

@use 'organisms/article_view';

@use 'organisms/tabpanel/tabpanel';
@use 'organisms/tabpanel/tabpanel--overlap';

@use 'organisms/landing_hero';
@use 'organisms/header';
@use 'organisms/footer';
@use 'organisms/slate_forms';
@use 'organisms/search_results';
@use 'organisms/news';
@use 'organisms/error_pages';

@use 'organisms/styleguide';

@use 'layout/grid';
@use 'layout/layout_builder';

@use 'layout';

@use 'molecules/login';
@use 'utilities/animation';
@use 'utilities/drupal_ui';
@use 'utilities/modifiers';

@use 'organisms/temp';

// $list1: 200px;
// $list2: 1px 2px 3px black,;
// $list3: Helvetica, Arial, san-serif;

// $zip1: 1px 2px 3px 4px;
// $zip2: 4em 3em 2em 1em;
// $zip3: black green blue red;

// $nested-list: 1px 2px 3px green, 6px 7px 8px blue, 3px 2px 1px yellow;


// .test {
//     width: percentage( .5 );
//     @include header.padding;
//     @include b.bottom-to-full-outline;
//     $cornell: #b31b1b;
//     color: $cornell;
    
//     &:after {
//         content: '';
//         display: block;
//         background: linear-gradient(45deg, rgb(131,58,180), rgb(253,29,29), rgb(252,176,69));
//         height: 3px;
//     }
    
//     &:hover, &:focus {
//         color: color.adjust($cornell, $saturation: -.4);
//         cursor: pointer;
//     }
// }

.gradient-border {
    height: 300px;
    width: 250px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 1rem auto;

    &.with-border {
        color: red;
        border-color: black;
        border-style: solid;
        border-width: 5px;
        border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
        border-image: linear-gradient(135deg, rgb(131,58,180), rgb(253,29,29), rgb(252,176,69)) 1;
       

        span {
            display: inline;
            background:-webkit-repeating-radial-gradient(rgb(131,58,180), rgb(253,29,29), rgb(252,176,69), );
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}