@import 'base/breakpoints';


.row {
    display: block;
    clear: both;
    width: 100%;
}

$columnGap: 2%;
$rowGap: 2%;

.card-grid {
    
    display: grid;
    grid-column-gap: $columnGap;
    grid-row-gap: $rowGap;
    padding: $rowGap 2em; 
}


.flex {
    display: flex;
}

// Grid Templates for Equal Grid Columns

$max: 12;

@include for-phone-only {

    // for small screens
    @for $i from 1 through $max {
        $equ: 100% / $i;
        .grid-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
        .flex-#{$i} {
            flex: 0 1 $equ;
        }
    }
}

// @include for-tablet-portrait-up {

//     // for medium screens
//     @for $i from 1 through $max {
//         $equ: 100% / $i;
//         .grid-md-#{$i} {
//             grid-template-columns: repeat($i, 1fr);
//         }
//         .flex-md-#{$i} {
//             grid-template-columns: repeat($i, 1fr);
//         }
//     }
// }

@include for-desktop-up {

    // for large screens
    @for $i from 1 through $max {
        $equ: 100% / $i;
        .grid-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
        .flex-#{$i} {
            $equ: 100% / $i;
            flex: 0 1 $equ;
        }
    }
}

@include for-xl-desktop-up {

    // for large screens
    @for $i from 1 through $max {
        $equ: 100% / $i;
        .grid-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
        .flex-#{$i} {
            flex: 0 1 $equ;
        }
    }
}





// Grids will be based on a 12 Column Grid 

// Grid 4 / 8


// Flex Align

.flex {

    &.center {
        justify-content: center;
    }
}