@use '../base/breakpoints' as b;

:root {
    --toggle: 1;
    --playState: running;
}



body.animation {

    .menu-toggle {
    
    
        &.active {
    
            span.buttonWrap {
    
                &:nth-child(1) {
                    width: 40px;
                    transform: translateY(0px) rotate(0deg);
                    transition-delay: 0.125s;
                    
                }
                &:nth-child(2) {
                    width: 40px;
                    transform: translateY(0px) rotate(315deg);
                    transition-delay: 0.25s;
                }
    
                &:nth-child(3) {
                    transform: translateX(60px);
                }
            }
        
    
        }
    }


    

}

// @if (var(--playState) == "running") {

@mixin background-shift {
    @content;
    
}

@keyframes rotateUp {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(180deg);}
}

@keyframes fadeIn {
    0% {opacity:0; }
    100% {opacity:1; }
}

@keyframes shiftUp {
    0% {transform: translateY(var(--dist))}
    100% {transform: translateY(0px);}
}

@keyframes shiftRight {
    0% {transform: translateX(var(--dist, 0));}
    100% {transform: translateX(0px);}
}


@keyframes cardFlip {
    
}

@keyframes slideInRight {
    0%{ max-width: 0; }
    100% {max-width: 100%;}
}

@keyframes slideOutRight {
    0%{ max-width: 0; transform: translateX(100%);}
    100% {max-width: 0; transform: translateX(100%);}
}


@keyframes appearRight {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}