.glyphicons {
    text-decoration: none;
    
    padding: 0 .5em;
    &:first-of-type {
        padding-right: .5em;
        padding-left: 0;
    }

    &:last-of-type {
        padding-right: 0;
        padding-left: .5em;
    }
    
    &:before {
        font-family: var(--font-awesome);
        display: inline-block;
        // height: 45px;
        // width: 45px;
        color: #FFF;
        font-size: var(--step-5);
    }

    &.twitter {
        &:before {
            font-family: var(--font-awesome-brands);
            content: '\f081';
        }
    }
    &.facebook {
        &:before {
            font-family: var(--font-awesome-brands);
            content: '\f082';
        }
    }
    &.instagram {
        &:before {
            font-family: var(--font-awesome-brands);
            content: '\e055';
        }
    }

    &.address {
        &:before {
            content: '\f3c5';
        }
    }
    &.email {
        &:before {
            content: '\f0e0';
        }
    }
    &.phone {
        &:before {
            content: '\f879';
        }
    }
    &.fax {
        &:before {
            content: '\f1ac';
        }
    }

    &.search-icon {
        &:before {
            content: '\f002';
        }
    }

    &.blog {
        &:before {
            font-family: var(--font-awesome-brands);

            content: '\f37c';
        }
    }

    &.accessibility {
        &:before {
            content: '\f29a';
        }
    }

    &.snapchat {
        &:before {
            font-family: var(--font-awesome-brands);

            content: '\f2ad';
        }
    }

    &.youtube {
        &:before {
            font-family: var(--font-awesome-brands);

            content: '\f431';
        }
    }
    
    
}