.skip-link {
    position: absolute;
    left: -999px;
    width:1px;
    height: 1px;
    top: auto;
    padding: 1em 1.5em;

    &:focus {
        color: black;
        display: inline-block;
        height: auto;
        width: auto;
        position: static;
        margin: auto;
        color: white;
        transition: transform 1s ease-in;
    }
}