.layout--full-width-hero {

    height: 75vh;
    position: relative;
    &:before {
        background: rgb(8,7,20);
        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 100%);
        background-blend-mode: multiply;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    
    }
   .hero--media-wrap {
       overflow: hidden;
       display: flex;
       align-items: center;
       justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 0;


       .hero--text {
            position: absolute;
            z-index: 100;
            h2 {
                color: #FFF;
                margin: 0;
                text-shadow: 1px 1px 2px #373737, 1px 1px 12px #000;
                font-size: var(--step-6);
            }

            .link-button--cta {
                left: 50%;
                transform: translateX(-50%);
            }
       }
        video {
            width: 100% !important;
            aspect-ratio: 16/9;
        }

        #pauseVideo {
            position: absolute;
            right: 5em;
            bottom: 5em;
            z-index: 10000;
            background: transparent;
            color: hsla(255,255,255, .9);
            height: 50px;
            width: 50px;

            &:before {
                display: block;
                content: '\f28b';
                font-family: var(--font-awesome);
                font-size: var(--step-5);
                position: relative;
            }
            
            
            &.paused {
                
                &:before {
                    display: block;
                    content: '\f144';
                    font-family: var(--font-awesome);
                }
                
            }
        }

        .hero-image--full-width {

            width: 100%;
            aspect-ratio: 16/9;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
   }
}


.toolbar-tray-open {

    .hero--video-wrap {
        // position: relative;
    }

}