// Site Colors

:root {
    --menu-focus: #F7F7F7;
}
body {  


--bodyBG: #F3F3F3;
--buttonText: #333333;
--buttonBG: #7c7c7c;

$lightgray: rgba(245,245,245,1);
$textblack: rgba(51,51,51,1);
$green: green;
$cornell: #b31b1b;

// Alert and other Notification Colors
$success: green;
$warning: yellow;
$alert: red;

    &.dark-mode {
        --bodyBG: rgba(18,18,18,1);

        --buttonBG: #5b626e;
        --buttonText: white; 

        --menu-focus: #b31b1b;

        // Cards
        --cardShadowOne: rgba(0,0,0,0.25);
        --cardShadowTwo: rgba(15,15,15,0.3);
        --cardBackground: rgba(30,30,30,1);
        --cardText: rgba(255,255,255,1);
    }

    background: var(--bodyBG);
}