// Site Colors
$lightgray: rgba(245,245,245,1);
$textblack: rgba(51,51,51,1);
$green: green;
$cornell: #b31b1b;

// Alert and other Notification Colors
$success: green;
$warning: yellow;
$alert: red;

h1 {
    color: lighten($alert, 20%);
}

span {
    font-size: 24px;
}
.darken {
    color: darken($green, 20%);
}

.lighten {
    color: lighten($green, 20%);
}

.saturate {
    color: saturate($green, 20%);
}
.desaturate {
    color: desaturate($green, 20%);
}
.adjust-hue {
    color: adjust-hue($green, 20%);
}
.grayscale {
    color: grayscale($green);
}
.complement {
    color: complement($success);
}

$red: red;

    @debug 'Red: ' #{$red};
