:root {
    --clocktower-sans-serif:  unitext, sans-serif;
    --clocktower-serif: playfair-display, serif;

    // Type Scale
    --step--2: clamp(0.69rem, 0.69rem + 0.04vw, 0.72rem);
    --step--1: clamp(0.83rem, 0.81rem + 0.11vw, 0.90rem);
    --step-0: clamp(1.00rem, 0.96rem + 0.21vw, 1.13rem);
    --step-1: clamp(1.20rem, 1.13rem + 0.34vw, 1.41rem);
    --step-2: clamp(1.44rem, 1.33rem + 0.53vw, 1.76rem);
    --step-3: clamp(1.73rem, 1.57rem + 0.78vw, 2.20rem);
    --step-4: clamp(2.07rem, 1.85rem + 1.12vw, 2.75rem);
    --step-5: clamp(2.49rem, 2.17rem + 1.58vw, 3.43rem);
    --step-6: clamp(2.99rem, 2.55rem + 2.17vw, 4.29rem);
    --step-7: clamp(3.58rem, 2.99rem + 2.97vw, 5.36rem);
    --step-8: clamp(4.30rem, 3.50rem + 4.01vw, 6.71rem);

    --menuFont: var(--clocktower-sans-serif); // Assigning aa variable for easy type changes
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--clocktower-serif);
    color: var(--header, #333);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}
p, blockquote, ul, ol, button, a {
    font-family: var(--projectText, var(--clocktower-sans-serif, san-serif));
    font-size: var(--step-0);
    line-height: 1.8;
    font-weight: 300;
    max-width: 65ch;

}

h2

.before {
    display: block;
    font-family: 'FontAwesome';
    content: '';
}


