@use 'atoms/buttons' as buttons;
@use 'base/breakpoints' as b;
@use 'atoms/img' as i;
@use 'layout/grid';


body {
    // .line-left {
    //     left: 0em;
    //     margin-bottom: 2em;
    //     --accentColor: #b31b1b;
    //     &:before {

    //         left: 0;
    //         height: 10em;
    //     }
    // }

    .body-text {
        margin-left: 3em;
    }

    .main-body {
        grid-column: 1/4;
        position: relative;
        margin: 0 1em;

        @include b.for-desktop-up {
            margin: 0 auto;
            display: grid;
            grid-template-columns: [expanded-left] 12.5% [content] 1fr [expanded-right] 12.5%;
        }
        // @extend .container;
        
        > * {
            
            &:not(img) {
                grid-column: 1;
                @include b.for-desktop-up {
                    
                    width: 100%;
                    grid-column: content;
                    // margin: 0 auto;
                }
            }
        }

        .inline-image {
            grid-column: content;

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
        ul {

            font-size: var(--step-1);
            @include b.for-desktop-up {

                font-size: var(--step-0);
            }
        }
       
        // > p {
        //     grid-column: content;
        //     margin-left: 3em;

        // }


        // @include b.for-desktop-up {
        //     margin-left: 5em;

        // }
        // h2:first-of-type {
        //         font-weight: var(--bold);
        // }


        
    }

    &.no-scroll {
        overflow: hidden;

        &:before {
            content: '';
            background-color: rgba(0,0,0,.95);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
        }
    }

    &.fixed {
        display: fixed;
    }

    main {
        background: #FFF;
        background-color: #FFF;
    }
}