@use 'atoms/buttons' as buttons;
@use 'base/breakpoints' as b;
@use 'atoms/img' as i;
@use 'layout/grid';


.no-hero.error-page {
    padding-top: 0em;
    
    .error-page-title {
        font-family: var(--clocktower-sans-serif);
        font-weight: var(--light-weight);
        padding: 0;
        background-image: none;
        text-align: center;
        margin: 0 auto 1.5em;
        display: block;
        padding-bottom: 1.5em;

        &:before {
            display: none;
        }

        span {
            &:after {
                display: none;
            }
            
            &.error-number {
                font-size: clamp(4.30rem, 15rem + 4.01vw, 20rem);
                margin-top: 0;
                padding: 0;
                
            }
            &.error-type {
                margin-top: 0;
                font-size: var(--step-3);
                font-family: var(--clocktower-sans-serif);
                font-weight: var(--light-weight);
                padding: 0;
            }
        }
    }
}