@mixin bottom-to-full-outline {
    padding: 15px 25px;
    margin: 15px 25px;
    position: relative;
    border: 0;
    border-bottom: 5px solid blue;
    display: inline-block;
    text-align: center;
    text-decoration: center;
    box-sizing: border-box;
    
    &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s ease;

    }

    &:before {
        border-right: 5px solid blue;
        border-left: 5px solid blue;
        transform: scaleY(0);
        transform-origin: bottom;
    }

    &:after  {
        
        border-top: 5px solid blue;
        transform: scaleX(0);
    }

   

    &:focus, &:hover {

        &:after, &:before {
            transform: none;
        }
    }
}

@mixin button-full-around {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    text-decoration: none;
    
    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 2px transparent;
    color: #b31b1b;
    font-size: inherit;
    font-weight: 700;

    // Required, since we're setting absolute on pseudo-elements
    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
 
        transition: color 0.25s;
    
      &::before,
      &::after {
        // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
        border: 2px solid transparent;
        width: 0;
        height: 0;
      }
    
      // This covers the top & right borders (expands right, then down)
      &::before {
        top: 0;
        left: 0;
      }
    
      // And this the bottom & left borders (expands left, then up)
      &::after {
        bottom: 0;
        right: 0;
      }
      
      &:hover {
        color: cyan;
      }
    
      // Hover styles
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }
    
      &:hover::before {
        border-top-color: cyan; // Make borders visible
        border-right-color: cyan;
        transition:
          width 0.25s ease-out, // Width expands first
          height 0.25s ease-out 0.25s; // And then height
      }
    
      &:hover::after {
        border-bottom-color: cyan; // Make borders visible
        border-left-color: cyan;
        transition:
          border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
          width 0.25s ease-out 0.5s, // And then exanding width
          height 0.25s ease-out 0.75s; // And finally height
      }
    
}

@mixin button-gradient-bg {
  --buttonColor: red;
  --buttonGradient: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  margin: 1em 2em;
  padding: 1em 2em;
  text-align: center;
  color: var(--buttonColor, #333);
  background: var(--buttonGradient) border-box;

  border-radius: 2em;
  border: 4px solid transparent;
  // border: 4px solid transparent;
  // border-radius: 100em;
  // border-style: solid;
  // border-width: .25em;
  // border-image: var(--buttonGradient) 1;
}

@keyframes button-counter-clockwise {
    0% { border-top: 0px solid blue;}
    100% { border-top: 0px solid red;}
}

.button-test {
    @include button-gradient-bg();
}