@use '../../../base/breakpoints' as b;

.cards {

    .quick-fact {
        &--linked {
            text-decoration: none;
            line-height: unset;
            position: relative;
            .card-content {

                h3 {
                    position: relative;

                    i {
                        // color: hsla(var(--text-black),1);
                        font-size: var(--step-0);
                    }
                   
                }
                p {

                    color: hsla(var(--text-black));
                }

            }

            
        }
    }
    
}