@use '../base/breakpoints' as b;
@use '../atoms/mixins' as m;


body {
    
    .logo-dark-mode {
        display: none;
    }

    &.dark-mode {
        .logo-dark-mode {
            display: block;
        }

        .logo-light-mode {
            display: none;
        }
    }
}

// .cu-seal {
//     z-index: 1;
//     align-self: center;


//     img {
//         background: white;
        
//         height: 74px;
//         width: 74px;
//         border-radius: 99em;
//         padding: 1em;
//         width: 73px;
//         height: 73px;

//         @include b.for-xl-desktop-up {
//             height: 108px;
//             width: 108px;
//         }
//     }
    
// }