#block-info-for {

    > div {
        width: 60%;
        margin: 0 auto;
    }

h2 {
    text-align: center;
}

    .title-cards {
        list-style: none;
        grid-row-gap: 2em;
        grid-column-gap: 2em;
        grid-auto-rows: 1fr;

        li {
            flex: 1 0 33%;
            text-align: center;
            display: flex;
            align-items: center;

            a {
                border: 1px solid black;
                background-color: #FFF;
                text-decoration: none;
                color: var(--menuText);
                font-size: var(--step-1);
                height: 100%;
                width: 100%;
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:after {
                    display: inline-block;
                    content: "\f138";
                    font-family: 'FontAwesome';
                    padding-left: 1em;
                }


                &:hover, &:focus {
                    background-color: #b31b1b;
                    color: #FFF;
                    border: 1px solid #b31b1b;
                    
                }
            }
        }
    }
}