@use '../base/breakpoints' as b;
@use '../atoms/mixins' as m;


// Youtube embeds 

.video-container {

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.video-js {
    
    width: 380px;
    border-radius: .5em;
    overflow: hidden;

    &.centered {
        left: 50%;
        transform: translateX(-50%);
    }

    @include b.for-tablet-portrait-up {

        height: 450px;
        width: 800px;

    }    

    @include b.for-desktop-up {

    }    

    @include b.for-large-desktop-up {

    }    

    picture {
        width: 100%;
        height: 100%;
        overflow: hidden;

        transition: all 1s ease;

        &:after {
            background: rgb(16,14,48);
            background: linear-gradient(0deg, rgba(16,14,48,.9) 0%, rgba(16,14,48,.25) 75%, rgba(255,255,255,0) 100%);
            height: 50%;
            width: 100%;
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
        }

        img {
            object-fit: cover;
           
        }
        
    }

    // .vjs-control-bar {
    //     // background: transparent;
    //     // font-size: 6em;
    //     height: 4em;
    //     .vjs-play-control {
    //         .vjs-icon-placeholder {
    //             width: 30px;
    //             height: 30px;
    //             // border-radius: 99em;
    //             // background: rgb(239,64,53);
    //             // background: linear-gradient(320deg, rgba(239,64,53,1) 0%, rgba(179,27,16,1) 100%);
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             position: relative;
    //             @include m.boxShadowLight; 
    //             transition: all 500ms ease-in-out;

    //             &:before {
    //                 position: relative;
    //                 font-family: var(--font-awesome);
    //                 content: '\f04b';
    //                 padding: 0em;
    //                 font-size: var(--step-0);
    //                 font-weight: 900;
    //                 // line-height: 1em;
    //                 top: unset;
    //                 left: unset;
    //                 height: unset;
    //                 width: unset;
    //                 line-height: 1.5;
    
    //             }
    //         }
    //     }
    // }
   
    .vjs-big-play-button {
        
        border: 0;
        width: 85px;
        height: 85px;
        border-radius: 99em;
        background: transparent;
        margin: 0;
        transform: translate(-50%, -50%);
        font-size: unset;
        // background: rgb(0,0,0);
        // background: linear-gradient(330deg, rgba(0,0,0,1) 0%, rgba(179,27,27,1) 100%);
        display: flex;
        align-items: center;
        justify-content: center;


        &:hover, &:focus {
            background: transparent;
        }


        .vjs-icon-placeholder {
            width: 75px;
            height: 75px;
            border-radius: 99em;
            background: rgb(239,64,53);
            background: linear-gradient(320deg, rgba(239,64,53,1) 0%, rgba(179,27,16,1) 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @include m.boxShadowLight; 
            transition: all 500ms ease-in-out;


            &:before {
                position: relative;
                font-family: var(--font-awesome);
                content: '\f04b';
                padding: 0em;
                font-size: var(--step-2);
                font-weight: 900;
                // line-height: 1em;
                top: unset;
                left: unset;
                height: unset;
                width: unset;
                line-height: 1.5;

            }
        }
    }

    &:hover, &:focus {
    
        .vjs-big-play-button {
            background-color: transparent;

            .vjs-icon-placeholder {
                transition: all 500ms ease-in-out;
                transform: scale(1.2);

                // &:before {
                //     transform: scale(1.05);
                //     transition: all 1s ease-in-out;
                // }
            }
        }
        
        picture {
            position: relative;
            transform: scale(1.05);
            transition: all 1s ease;
           
        }
    }

    &.vjs-has-started {
        
        .vjs-big-play-button {
            display: none;
        }
        
    }

    
    &.vjs-has-started.vjs-paused {

        .vjs-big-play-button {
            display: none;
        }


    }
    // &.vjs-has-started {

    //     .vjs-play-control {
    //         .vjs-icon-placeholder {
    //             &:before {
    //                 content: '\f04c';
    //             }
    //         }
    //     }

    //     &.vjs-paused {
    //         .vjs-play-control {
    //             .vjs-icon-placeholder {
    //                 &:before {
    //                     content: '\f04b';
    //                 }
    //             }
    //         }
    //     }
    // }

//     .vjs-fullscreen-control {

//         .vjs-icon-placeholder {

//             &:before {
//                 font-family: var(--font-awesome);
//                 content: '\f065';
//             }
            
            
//         }
//     }

//     .vjs-picture-in-picture-control {

//         .vjs-icon-placeholder {

//             &:before {
//                 font-size: var(--step-1);
//             }
            
            
//         }
//     }

//     .vjs-mute-control {

//         .vjs-icon-placeholder {

//             &:before {
//                 font-family: var(--font-awesome);
//             }
            
            
//         }

//         &.vjs-vol-0 {
//             .vjs-icon-placeholder {

//                 &:before {
//                     content: '\f6a9';
//                 }
                
                
//             }
//         }

//         &.vjs-vol-1 {
//             .vjs-icon-placeholder {

//                 &:before {
//                     content: '\f027';
//                 }
                
                
//             }
//         }

//         &.vjs-vol-2 {
//             .vjs-icon-placeholder {

//                 &:before {
//                     content: '\f6a8';
//                 }
                
                
//             }
//         }

//         &.vjs-vol-3 {

//             .vjs-icon-placeholder {

//                 &:before {
//                     content: '\f028';
//                 }
                
                
//             }
//         }
//     }

//     .vjs-control-bar {
//         .vjs-control {
//             .vjs-button {
//                 .vjs-icon-placeholder {
//                     line-height: 1.5;
//                     font-size: var(--step-1);
//                 }
//             }
//         }
//     }
}


.archive-list {
    padding-left: 0;
    max-width: unset;
    margin-top: 5em;

    li {
        margin-bottom: 5em;
        position: relative;
        

        h2 {
            margin: 0;
        }
        &:after {
            content: '';
            position: absolute;
            width: 50%;
            bottom: -2em;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #e5e5e5;
            height: 1px;

        }
        .col-left {
    
            .video-js {
                position: relative;
                aspect-ratio: 4/3;
                height: auto;
                width: 400px;   
            }
        }
    
        .col-right {
            margin-left: 3em;

            .accordion-group {
                .accordion-item {

                    .action-items {
                        justify-content: flex-start;

                        a, button {
                            cursor: pointer;
                            animation: unset;
                            &:hover, &:focus {
                                background-color: hsla(var(--carnelian),1);
                                color: hsla(var(--text-white),1);
                            }
                        }
                    }
                }
            }

        }
    }
}